# frontend
rag-frontend/node_modules
rag-frontend/.next
rag-frontend/.env*

# Backend
rag-backend/venv
rag-backend/**/*.pyc
rag-backend/__pycache__/
rag-backend/**/__pycache__/
rag-backend/.env*

# OS
.DS_Store
